
/*=================================================================================
	General Styles
=================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300);
*{
	font-family: Poppins, sans-serif;
}
p{
	line-height:1.6em;
}
img{
	max-width:100%;
}
::-webkit-scrollbar{
	background:#FFF;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
	width:11px;
	height:11px;
}
::-webkit-scrollbar-thumb{
	border:solid 3px #FFF;
	background:#C0C0C0;
}
::-webkit-scrollbar-thumb:hover{
	background:#009688;
}
.text-light{
	color:#727272;
}
.bg{
	background:#009688;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow:hidden;
	z-index:-1;
}
.bg:before{
	content: ' ';
	position:absolute;
	height:100%;
	margin-top:-260px;
	width:600px;
	background:#FFF;
	z-index:2;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.main-content{
	position:fixed;
	z-index:55;
	top:65px;
	left:65px;
	right:65px;
	bottom:65px;
	background:#FFF;
	-webkit-box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
	box-shadow: 0 0 60px 0 rgba(0,0,0,.18);
}
.section{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	overflow-y:auto;
	overflow-x:hidden;
	padding:100px;
	padding-bottom:0;
}
.section:after{
	content: ' ';
	display:block;
	height:100px;
}
body.show-menu .section.active,
.section{
	opacity:0;
	visibility:hidden;
	z-index:95;
}
.section.active{
	opacity:1;
	visibility:visible;
	z-index:100;
}
.section-header{
	position:relative;
	margin-bottom:60px;
}
.section-header > h2{
	font-size:32px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0;
}
.section-header > p{
	color:rgba(0,0,0,.45);
	font-weight:500;
	margin:0;
	margin-top:3px;
}

/*=================================================================================
	Preloader
=================================================================================*/
#preloader{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#FFF;
	z-index:999;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
#preloader > .loader{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	text-align:center;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
#preloader > .loader > span{
	display:block;
	margin-top:25px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:10px;
	font-weight:bold;
	color:rgba(0,0,0,.45);
}
.no-js #preloader{
	display:none;
}
body.loaded #preloader{
	opacity:0;
	visibility:hidden;
}


/*=================================================================================
	Menu Design
=================================================================================*/
.menu-btn{
	position:absolute;
	height:64px;
	width:64px;
	line-height:64px;
	border-radius:50%;
	background:#009688;
	-webkit-box-shadow: 0 3px 15px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 3px 15px 0 rgba(0,0,0,.18);
	box-shadow: 0 3px 15px 0 rgba(0,0,0,.18);
	top:50%;
	margin-top:-32px;
	left:-32px;
	display:block;
	overflow:hidden;
	text-align:center;
	z-index:999;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.menu-btn:hover{
	-webkit-box-shadow: 0 10px 35px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 10px 35px 0 rgba(0,0,0,.18);
	box-shadow: 0 10px 35px 0 rgba(0,0,0,.18);
}
.menu-btn > .lines{
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:32px;
	width:32px;
	position:relative;
}
.menu-btn > .lines > span{
	position:absolute;
	left:0;
	display:block;
	height:4px;
	border-radius:2px;
	width:32px;
	margin:auto;
	background:#FFF;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.menu-btn > .lines > .l1{
	top:5px;
}
.menu-btn > .lines > .l2{
	top:14px;
}
.menu-btn > .lines > .l3{
	top:23px;
}
body.show-menu .menu-btn > .lines > .l2{
	opacity:0;
}
body.show-menu .menu-btn > .lines > .l1,
body.show-menu .menu-btn > .lines > .l3{
	top:50%;
	margin-top:-2px;
}
body.show-menu .menu-btn > .lines > .l1{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
body.show-menu .menu-btn > .lines > .l3{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.menu{
	position:absolute;
	background:#FFF;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow-y:auto;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	z-index:199;
}
body.show-menu .menu{
	opacity:1;
	visibility:visible;
}
.menu-items{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	-webkit-transform:translate3d(0, -50%, 0);
	-moz-transform:translate3d(0, -50%, 0);
	-ms-transform:translate3d(0, -50%, 0);
	-o-transform:translate3d(0, -50%, 0);
	transform:translate3d(0, -50%, 0);
	z-index:99;
}
.menu-items > ul{
	list-style:none;
	padding:0;
	margin:0;
}
.menu-items > ul > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:28px;
	position:relative;
}
.menu-items > ul > li > a{
	display:block;
	text-decoration:none;
	color:#202020;
	opacity:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-transform:translateY(15px);
	-moz-transform:translateY(15px);
	-ms-transform:translateY(15px);
	-o-transform:translateY(15px);
	transform:translateY(15px);
}
body.show-menu .menu-items > ul > li > a{
	opacity:1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
}
.menu-items > ul > li > a > i{
	display:block;
	height:130px;
	width:130px;
	line-height:130px;
	font-size:58px;
	vertical-align:middle;
	background:#F0F0F0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	border-radius:50%;
}
.menu-items > ul > li > a > i:before{
	line-height:130px;
	vertical-align:middle;
}
.menu-items > ul > li > a > span{
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:14px;
	margin-top:12px;
	display:block;
	color:#B6B6B6;
	position:relative;
	z-index:9;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.menu-items > ul > li > a:hover > i{
	-webkit-box-shadow: 0 10px 40px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 10px 40px 0 rgba(0,0,0,.18);
	box-shadow: 0 10px 40px 0 rgba(0,0,0,.18);
	background:#009688;
	color:#FFF;
}
.menu-items > ul > li > a:hover > span{
	color:#202020;
}
body.show-menu .menu-items > ul > li:nth-of-type(1) > a{
	-webkit-transition-delay:.4s;
	-moz-transition-delay:.4s;
	transition-delay:.4s;
}
body.show-menu .menu-items > ul > li:nth-of-type(2) > a{
	-webkit-transition-delay:.5s;
	-moz-transition-delay:.5s;
	transition-delay:.5s;
}
body.show-menu .menu-items > ul > li:nth-of-type(3) > a{
	-webkit-transition-delay:.6s;
	-moz-transition-delay:.6s;
	transition-delay:.6s;
}
body.show-menu .menu-items > ul > li:nth-of-type(4) > a{
	-webkit-transition-delay:.7s;
	-moz-transition-delay:.7s;
	transition-delay:.7s;
}
body.show-menu .menu-items > ul > li:nth-of-type(5) > a{
	-webkit-transition-delay:.8s;
	-moz-transition-delay:.8s;
	transition-delay:.8s;
}
body.show-menu .menu-items > ul > li:nth-of-type(6) > a{
	-webkit-transition-delay:.9s;
	-moz-transition-delay:.9s;
	transition-delay:.9s;
}
body.show-menu .menu-items > ul > li:nth-of-type(7) > a{
	-webkit-transition-delay:1s;
	-moz-transition-delay:1s;
	transition-delay:1s;
}

.sub-menu{
	position:absolute;
	top:100%;
	left:0;
	right:0;
	background:#F0F0F0;
	padding:25px 10px;
	list-style:none;
	margin:0;
	margin-top:-88px;
	border-radius:0 0 50% 50%;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.menu-items > ul > li:hover > .sub-menu{
	opacity:1;
	visibility:visible;
}
.sub-menu > li > a{
	display:block;
	margin:0;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#808080;
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	font-size:12px;
	padding:2px 0;
}
.sub-menu > li > a:hover{
	color:#202020;
}

/*=================================================================================
	Main Section
=================================================================================*/
.main-section{
	overflow:visible;
	padding:0;
}
.main-section,
.main-section > .row,
.main-section > .row > div{
	height:100%;
	position:relative;
}
.person-img{
	position:absolute;
	bottom:0;
	top:-55px;
	left:0;
	right:0;
	text-align:center;
	z-index:44;
}
.person-img > img{
	width:auto;
	height:100%;
}
.text-col-main{
	overflow:auto;
	height:100%;
}
.intro-text-col{
	position:relative;
	height:100%;
	width:100%;
	display:table;
	overflow-y:auto;
}
.intro-text-col > .inner{
	height:100%;
	width:100%;
	vertical-align:middle;
	display:table-cell;
}
.intro-text{
	padding:60px 100px;
	padding-left:0;
}
.intro-text > h1{
	font-weight:bold;
	font-size:50px;
	line-height:1.4em;
	margin:0;
	letter-spacing:2px;
	text-transform:uppercase;
}
.intro-text > span{
	font-size:16px;
	color:#009688;
	font-weight:300;
}
.intro-text > p{
	font-size:16px;
	color:#727272;
	color:rgba(0,0,0,.45);
	margin:0;
	font-weight:500;
	margin-top:35px;
	line-height:1.7em;
}
.intro-text > .intro-btns{
	margin-top:35px;
}
.intro-text > .intro-btns > .btn-material{
	margin-right:15px;
}
a.btn-material{
	color:#FFF;
}
.btn-material{
	position:relative;
	padding:11px 27px;
	border:solid 2px #009688;
	background:#009688;
	text-align:center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-decoration:none !important;
	color:#FFF;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:600;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.btn-material:hover{
	-webkit-box-shadow: 0 10px 35px 0 rgba(0,0,0,.14);
	-moz-box-shadow: 0 10px 35px 0 rgba(0,0,0,.14);
	box-shadow: 0 10px 35px 0 rgba(0,0,0,.14);
}
.btn-material.btn-secondary{
	background:#FFF;
	color:#727272;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color:transparent;
}
.btn-material.btn-secondary:hover{
	border-color:#009688;
	color:#009688;
}


/*=================================================================================
	notes Section
=================================================================================*/

/*== notes Block ==*/
.notes-text > p{
	margin:0;
	font-weight:500;
	color:rgba(0,0,0,.45);
	margin-bottom:10px;
}
.info-list{
	margin:0;
	padding:0;
	list-style:none;
	margin-top:-12px;
}
.info-list > li{
	padding:13px 10px;
	background:#FFF;
	border-bottom:solid 1px rgba(0,0,0,.1);
	margin-top:2px;
}
.info-list > li:last-of-type{
	border-color:transparent;
}
.info-list > li > strong{
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:bold;
	margin-right:5px;
}
.info-list > li > span{
	color:rgba(0,0,0,.45);
	font-weight:500;
}

/*== Services Block ==*/

.service{
	position:relative;
	padding:40px 35px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.service:hover{
	-webkit-box-shadow: 0 15px 50px 0 rgba(0,0,0,.14);
	-moz-box-shadow: 0 15px 50px 0 rgba(0,0,0,.14);
	box-shadow: 0 15px 50px 0 rgba(0,0,0,.14);
}
.service > i{
	font-size:0;
	text-align:center;
}
.service > i:before{
	font-size:64px;
	line-height:1em;
	vertical-align:middle;
}
.service > h4{
	margin-top:35px;
	margin-bottom:25px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
}
.service > p{
	margin:0;
	color:rgba(0,0,0,.45);
	font-weight:500;
}




/*=================================================================================
	compose Section
=================================================================================*/



.owl-controls{
	margin-top:40px;
}
.owl-dots{
	font-size:0;
}
.owl-dots > .owl-dot{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:10px;
}
.owl-dots > .owl-dot > span{
	display:block;
	height:8px;
	width:44px;
	background:#FAFAFA;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.owl-dots > .owl-dot.active > span{
	background:#009688;
}




/*=================================================================================
	Blog Section
=================================================================================*/
.blog-post{
	position:relative;
	width:33.333%;
}
.posts-grid{
	margin:-15px;
	overflow:visible !important;
}
.blog-post > .inner{
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	margin:15px;
}
.blog-post > .inner:hover{
	-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,.18);
	box-shadow: 0 10px 30px 0 rgba(0,0,0,.18);
}
.blog-post > .inner > .content{
	padding:25px;
}
.blog-post > .inner > .content > h4{
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:700;
	margin:0;
	margin-bottom:5px;
	font-size:20px;
}
.post-icons{
	position:relative;
	font-size:0;
	margin:0;
	list-style:none;
	padding:0;
}
.post-icons > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:14px;
	color:rgba(0,0,0,.6);
	margin-right:15px;
}
.post-icons > li > i{
	margin-right:3px;
}

.blog-post > .inner > .content > p{
	color:rgba(0,0,0,.4);
	line-height:1.8em;
	margin:15px 0;
}

.blog-post > .inner > .content > .read-more{
	position:relative;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:700;
	color:rgba(0,0,0,.4);
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.blog-post > .inner > .content > .read-more:hover{
	color:#202020;
}
.posts-more{
	margin-top:60px;
}
.single-post > .content > .post-icons{
	margin-bottom:15px;
}
.single-post > .content > h4{
	font-size:24px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top:25px;
	margin-bottom:5px;
}
.single-post > .content > p{
	line-height:1.8em;
	color:rgba(0,0,0,.4);
}

.comments-main{
	position:relative;
	margin-top:60px;
}
.comments-main > h4{
	font-size:24px;
	font-weight:700;
	letter-spacing:2px;
	text-transform:uppercase;
}
.comments-main > h4{
	margin-bottom:25px;
}
.comments{
	position:relative;
	padding:0;
	margin:0;
	list-style:none;
}
.comments > li{
	position:relative;
	margin-bottom:25px;
}
.comments > li > .inner{
	position:relative;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	padding:25px;
}
.comments > li > .inner > .author{
	position:absolute;
	left:25px;
	top:25px;
}
.comments > li > .inner > .author > img{
	width:80px;
}
.comments > li > .inner > .content{
	position:relative;
	margin-left:105px;
}
.comments > li > .inner > .content > h4{
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px;
	margin-top:0;
	margin-bottom:5px;
}
.comments > li > .inner > .content > p{
	margin:0;
	color:rgba(0,0,0,.4);
}
.comments > li > .inner > .content > .comments{
	margin-top:25px;
	margin-bottom:10px;
}
.comments > li > .inner > .content > .comments > li{
	margin-bottom:15px;
}
.add-comment > h4{
	margin-top:0;
	margin-bottom:25px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px;
}
.add-comment{
	position:relative;
	padding:35px;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
}
.add-comment .form-group{
	margin-bottom:20px;
}
.add-comment .form-group:last-of-type{
	margin-bottom:0;
}

.widget{
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	position:relative;
	padding:25px;
}
.search-box{
	position:relative;
}
.search-box > form > .icon{
	position:absolute;
	border:none;
	background:none;
	top:0;
	right:0;
	height:44px;
	line-height:44px;
	width:44px;
	text-align:center;
	vertical-align:middle;
	font-size:0;
}
.search-box > form > .icon > i:before{
	font-size:18px;
	line-height:44px;
	vertical-align:middle;
}
.sidebar{
	padding-left:25px;
}
@media (max-width:992px){
	.sidebar{
		padding-left:0;
		margin-top:80px;
	}
}
.sidebar > .widget{
	margin-bottom:25px;
}
.sidebar > .widget > h4{
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:700;
	margin-top:0;
	margin-bottom:15px;
}
.sidebar-links{
	padding:0;
	margin:0;
	list-style:none;
}
.sidebar-links > li{
	margin-bottom:15px;
}
.sidebar-links > li:last-of-type{
	margin-bottom:0;
}
.sidebar-links > li > a{
	text-decoration:none;
	color:rgba(0,0,0,.4);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.sidebar-links > li > a:hover{
	color:#202020;
}

ul.tags{
	margin:0;
	font-size:0;
}
.tags > li{
	padding:0;
	margin-right:6px;
	margin-bottom:6px;
}
.tags > li > a{
	display:block;
	padding:5px 8px;
	border:solid 2px #808080;
	font-size:14px;
	color:#808080;
	text-decoration:none;
	transition:all .3s ease;
}
.tags > li > a:hover{
	color:#202020;
	border-color:#202020;
}

/*=================================================================================
	Contact Section
=================================================================================*/
.contact-info{
	position:relative;
	margin-bottom:25px;
}
.contact-info:before,
.contact-info:after{
	content: ' ';
	display:table;
}
.contact-info:after{
	clear:both;
}
.contact-info > i{
	font-size:48px;
	width:60px;
	float:left;
	color:#009688;
}
.contact-info > p{
	float:left;
	color:rgba(0,0,0,.45);
	font-size:16px;
	margin-top:5px;
	margin-bottom:0;
	font-weight:500;
	line-height:1.8em;
}
.alert{
	border-radius:0;
	padding:17px;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.18);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.18);
	border:none;
	color:#FFF;
}
.alert.alert-success{
	background:#66bb6a; 
}
.alert.alert-danger{
	background:#ef5350;
}
.contact-form .form-group{
	margin-bottom:30px;
}
.contact-form > .form-group:last-of-type{
	margin-bottom:0;
}
.form-control{
	border:none;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	border-radius:0;
	border-bottom:solid 2px #B6B6B6;
	padding:12px;
	height:auto;
}
.form-control:focus{
	border-color:#009688;
}
textarea.form-control{
	resize:vertical;
}
.contact-info-icons{
	padding-left:30px;
}
.contact-form .btn-material{
	outline:none;
	font-size:13px;
}

/*=================================================================================
	Responsive CSS
=================================================================================*/
@media(max-width:1024px){
	.intro-text{
		padding:60px 80px;
		padding-left:0;
	}
}
@media(max-width:992px){
	.posts-grid > .blog-post,
	.portfolio-items > li{
		width:50%;
	}
	.intro-text{
		padding:0;
		-webkit-transform:none;
		-moz-transform:none;
		-ms-transform:none;
		-o-transform:none;
		transform:none;
	}
	.info-list{
		margin-bottom:30px;
	}
	.service{
		margin-bottom:30px;
	}
	.main-section > .row,
	.main-section > .row > div{
		height:auto;
	}
	.main-section{
		overflow-y:auto;
		overflow-x:hidden;
		padding:80px;
	}
	.section{
		padding:80px;
		padding-bottom:0;
	}
	.section:after,
	.main-section:after{
		height:80px;
	}
	.intro-text > p{
		margin-bottom:40px;
	}
	.intro-text > .intro-btns > .btn-material{
		margin:0;
		display:block;
		margin-bottom:15px;
	}
	.intro-text-col{
		display:block;
		height:auto;
	}
	.person-img{
		position:relative;
		top:0;
		height:auto;
		text-align:center;
		background:#F0F0F0;
		padding:80px 125px;
		padding-bottom:0;
		margin:-100px;
		margin-bottom:100px;
	}
	.person-img > img{
		position:static;
		height:auto;
		width:100%;
		max-width:300px;
	}
	.skill:last-of-type{
		margin-bottom:40px;
	}
	.p-table{
		margin-bottom:30px;
	}
	.contact-info-icons{
		padding:0;
	}
	.contact-form{
		margin-top:60px;
	}
	div:last-of-type > .skill:last-of-type,
	div:last-of-type > .service:last-of-type,
	div:last-of-type > .p-table:last-of-type{
		margin-bottom:0;
	}
	.main-content{
		top:40px;
		left:40px;
		right:40px;
		bottom:40px;
	}
}
@media(max-width:768px){
	.posts-grid > .blog-post,
	.portfolio-items > li{
		width:100%;
	}
}
@media(max-width:600px){
	.main-content{
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.section,
	.main-section{
		padding:50px;
		padding-bottom:0;
	}
	.section:after,
	.main-section:after{
		height:50px;
	}
	.menu-btn{
		right:30px;
		bottom:30px;
		top:auto;
		left:auto;
		-webkit-transform:none;
		-moz-transform:none;
		-ms-transform:none;
		-o-transform:none;
		transform:none;
	}
	.menu-items{
		-webkit-transform:none;
		-moz-transform:none;
		-ms-transform:none;
		-o-transform:none;
		transform:none;
		position:static;
	}
	.testimonial > .icon{
		display:none;
	}
	.owl-controls{
		margin-left:3px;
	}
	.testimonial > .content{
		margin:3px;
	}
}

@media(max-width:400px){
	.section,
	.main-section{
		padding:35px 20px;
		padding-bottom:0;
	}
	.section:after,
	.main-section:after{
		height:35px;
	}
	.p-table > .header > .price > .amount{
		font-size:70px;
	}
}


















/*== Demo CSS ==*/
.customize-btn{
	font-size:28px;
	color:#202020 !important;
	text-decoration:none !important;
	line-height:44px;
	height:44px;
	width:44px;
	text-align:center;
	vertical-align:middle;
	background:#F0F0F0;
	display:block;
	position:absolute;
	top:0;
	left:0;
}
.customize-btn > i:before{
	vertical-align:middle;
}
.colors{
	position:fixed;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	z-index:99;
}
.colors > a{
	display:block;
	height:48px;
	width:5px;
	margin-bottom:2px;
	-webkit-box-shadow: 2px 0 6px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 2px 0 6px 0 rgba(0,0,0,.2);
	box-shadow: 2px 0 6px 0 rgba(0,0,0,.2);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.colors > a:hover{
	width:28px;
}
.colors > a.active{
	box-shadow: 2px 0 6px 0 rgba(0,0,0,.4);
}

.c-cyan{
	background:#00BCD4;
}


input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input::-webkit-input-placeholder{
	color: #B6B6B6 !important;
    visibility: visible!important;
    font-size: 12px;
}
input::-moz-placeholder{
    color: #B6B6B6 !important;
    visibility: visible!important;
}

/* grid view */
.service {
    height: 300px;
    margin-top: 30px;
}
.grid-sub-division {
    padding-top: 21px;
}
.grid-Date p {
    float: right;
}
.grid-sub-division p{
    color: rgba(0,0,0,.45);

}
.edit-button button {
    background-color: #00BCD4;
    border-color: #00BCD4;
}
.edit-button button:hover {
    background-color: #009688;
    border-color: #009688;
}


/* Note view */
.ion-ios-calendar-outline:before {
    content: "\f3f3";
    padding-right: 9px;
    font-size: 18px;
}
.note-date p {
    float: left;
    padding-right: 14px;
}
.note-view .container {
    width: 100% !important;
}
.note-body p {
    text-align: justify;
}
.note-view {
    border: 1px solid #dddddd;
}
.note-padding {
    padding: 20px;
}








.form-inline .form-group {
    margin-right: 10px;
}

.well-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
    border-color: rgb(53, 126, 189);
}

.glyphicon {
    margin-right: 5px;
}

.p-20 {
    padding: 20px;
}

/* floating label */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
    opacity: 1;
}

.form-group .Zebra_DatePicker_Icon_Wrapper {
    width: auto !important;
}

.Zebra_DatePicker .dp_visible {
    left: 900px !important;
}

.group {
    position: relative;
    margin-bottom: 35px;
}

.inputMaterial {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 2px #B6B6B6 !important;
}

.inputMaterial:focus {
    outline: none;
}

/* LABEL ======================================= */

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #009688;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00B6CE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
}

/* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}
.service a h4, a h4:hover, a h4 :active {
	color: #666 !important;
}

.service {
    position: relative !important;
}
.grid-Date {
    position: absolute;
    bottom: 0;
    right: 26px;
    float: right;
}
.grid-category {
    position: absolute;
    bottom: 0;
}