<!DOCTYPE html>
<html class='no-js app' ng-app="eventsApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--page-title-->
    <title>Personal Diary Application</title>

    <!--[if lt IE 9]>
    <![endif]-->

    <!--========================================================================
        CSS Stylesheets
    =========================================================================-->
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/bootstrap-datetimepicker.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/ionicons.min.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/owl.carousel.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/linea.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/magnific-popup.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/style.css'>
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/color-cyan.css'>


</head>
<body ng-controller="EventController">
{% verbatim %}


<!--========================================================================
    Preloader
=========================================================================-->
<div id='preloader'>

    <div class='loader'>

        <div class='img'>
            {% endverbatim %}
            <img src='{{ STATIC_URL }}img/loader.svg' alt>
            {% verbatim %}
        </div>
        <span>Loading...</span>

    </div>

</div>

<!--========================================================================
    main-bg
=========================================================================-->
<div class='bg'></div>

<!--========================================================================
    main-content wrapper
=========================================================================-->
<div class='main-content'>

    <!--menu-button-->
    <a href='#' class='menu-btn'>
				<span class='lines'>
					<span class='l1'></span>
					<span class='l2'></span>
					<span class='l3'></span>
				</span>
    </a>

    <!--menu-->
    <div class='menu'>

        <!--menu items-->
        <nav class='menu-items'>
            <ul>
                <li>
                    <a href='#home' data-section='home'>
                        <i class='ion-ios-home-outline'></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href='#notes' data-section='notes'>
                        <i class='ion-document'></i>
                        <span>Notes</span>
                    </a>
                </li>
                <li>
                    <a href='#compose' data-section='compose'>
                        <i class='ion-ios-compose-outline'></i>
                        <span>Compose</span>
                    </a>
                </li>



            </ul>
        </nav>

    </div>
    {% endverbatim %}


    <!--========================================================================
        Home Section
    =========================================================================-->
    <section id='home' class='section main-section active'>
        <div class='row'>
            <div class='col-lg-6 col-md-5 col-xs-12 img-col-main'>

                <div class='person-img'>
                    <img src='{{ STATIC_URL }}img/Diary.jpg' alt>
                </div>

            </div>
            {% verbatim %}
            <div class='col-lg-6 col-md-7 col-xs-12 text-col-main'>
                <div class='intro-text-col'>
                    <div class='inner'>

                        <div class='intro-text'>

                            <h1>PERSONAL DIARY</h1>

                            <span>A friend, buddy and dude from earth</span>

                            <p>
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            </p>

                            <div class='intro-btns'>

                                <a href='#' class='btn-material btn-secondary section-toggle' data-section='compose'>
                                    add a note
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--========================================================================
        notes Section
    =========================================================================-->
    <section id='notes' class='section notes-section'>
        <div class='container-fluid'>

            <div class='block services-block'>

                <div class='section-header'>
                    <h2>Notes</h2>

                </div>

                <div class='row'>

                    <div class='col-md-6 col-md-push-3'>

                        <div class='form-group'>
                            <div class="group">
                                <input class="inputMaterial" type="text" ng-model="query" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Serch by Title, Category, Date</label>
                            </div>

                        </div>

                    </div>

                    <div style="clear: both"></div>

                    <div class='col-md-4' ng-repeat="note in notes | filter :query ">
                        <div class='service'>
                            <div class="edit-button">
                                <button style="float: right" id="" name="" class="btn btn-primary" ng-click="deleteClicked($index ,note);"
                                        data-section='compose'><i class='ion-ios-trash'></i></button>
                            </div>
                            <div class="edit-button">
                                <button id="" name="" class="btn btn-primary" ng-click="editClicked(note);"
                                        data-section='compose'><i class='ion-edit'></i></button>
                            </div>

                            <a ng-click="viewClicked(note)">
                                <h4>{{ note.title }}</h4>
                            </a>
                            <p style="text-align: justify">
                                {{ note.content | limitTo: 150}} {{note.content.length > 150 ? '...' : ''}}
                            </p>
                            <div class="grid-sub-division">
                                <div class="grid-Date">
                                    <p>{{ note.pub_date | limitTo: 10}}</p>
                                </div>
                                <div class="grid-category">
                                    <p>{{ note.category_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <!--========================================================================
        compose Section
    =========================================================================-->
    <section id='compose' class='section compose-section'>
        <div class='container-fluid'>

            <div class='block compose-block'>

                <div class='section-header'>
                    <h2>Add a new note</h2>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="pull-right section-toggle" data-section="notes">Back</a>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                                class="glyphicon glyphicon-file">
                            </span>Take Note</a>
                                    </h4>

                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row p-20">
                                            <div class="col-md-12">
                                                <form class='contact-form' method='post'>


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="group">
                                                                <input class="inputMaterial" type="text" required
                                                                       ng-model="addNote.title">
                                                                <span class="highlight"></span>
                                                                <span class="bar"></span>
                                                                <label>Title</label>
                                                            </div>
                                                        </div>


                                                        <div class='col-md-6'>

                                                            <div class="group">
                                                                <input class="inputMaterial" type="text" required
                                                                       ng-model="addNote.category_name">
                                                                <span class="highlight"></span>
                                                                <span class="bar"></span>
                                                                <label>Category</label>
                                                            </div>

                                                        </div>
                                                        <div class='col-md-6'>

                                                            <div class='form-group'>
                                                                <div class="group">
                                                                    <input class="inputMaterial" type="text"
                                                                           id="datetimepicker6"
                                                                           ng-model="addNote.pub_date" required>
                                                                    <span class="highlight"></span>
                                                                    <span class="bar"></span>
                                                                    <label>Date</label>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        </div>
                                                    <div class="col-md-12">
                                                        <div class='form-group'>
                                                            <div class="">
                                                            <textarea class='form-control'
                                                                      name='Title' rows='6' placeholder="Message"
                                                                      required ng-model="addNote.content"></textarea>
                                                                <span class="bar"></span>

                                                            </div>
                                                        </div>

                                                        </div>
                                                        <div class='form-group text-center'>

                                                            <button type='submit' class='btn-material'
                                                                    ng-click="addClicked()">
                                                                Save
                                                            </button>

                                                        </div>

                                                </form>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id='edit' class='section edit-section'>
        <div class='container-fluid'>

            <div class='block edit-block'>

                <div class='section-header'>
                    <h2>Edit note</h2>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="pull-right section-toggle" data-section="notes">Back</a>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                                class="glyphicon glyphicon-file">
                            </span>Take Note</a>
                                    </h4>

                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row p-20">
                                            <div class="col-md-12">
                                                <form class='contact-form' method='post'>


                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="group">
                                                                <input class="inputMaterial" type="text" required
                                                                       ng-model="editNote.title">
                                                                <span class="highlight"></span>
                                                                <span class="bar"></span>
                                                                <label>Title</label>
                                                            </div>
                                                        </div>


                                                        <div class='col-md-6'>

                                                            <div class="group">
                                                                <input class="inputMaterial" type="text" required
                                                                       ng-model="editNote.category_name">
                                                                <span class="highlight"></span>
                                                                <span class="bar"></span>
                                                                <label>Category</label>
                                                            </div>

                                                        </div>
                                                        <div class='col-md-6' ng-cloak="">

                                                            <div class='form-group'>
                                                                <div class="group">
                                                                    <input class="inputMaterial" type="text"
                                                                           id="datetimepicker4"
                                                                           ng-model="editNote.pub_date" required>
                                                                    <span class="highlight"></span>
                                                                    <span class="bar"></span>
                                                                    <label>Date</label>
                                                                </div>

                                                            </div>

                                                        </div>

                                                        </div>


                                                    <div class="col-md-12">

                                                        <div class='form-group'>
                                                            <div class="">
                                                            <textarea class='form-control'
                                                                      name='Title' rows='6' placeholder="Message"
                                                                      required ng-model="editNote.content"></textarea>
                                                                <span class="bar"></span>

                                                            </div>
                                                        </div>
                                                        </div>


                                                        <div class='form-group text-center'>

                                                            <button type='submit' class='btn-material'
                                                                    ng-click="saveClicked()">
                                                                Save
                                                            </button>

                                                        </div>

                                                </form>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            </div>
    </section>


    <section id='blog' class='section blog-section'>
        <div class='container-fluid'>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                    class="glyphicon glyphicon-file">
                            </span>{{ viewNote.title }}</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row p-20">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="note-date">
                                                <p><i class="ion-ios-calendar-outline">{{ viewNote.pub_date | limitTo: 10 }}</i></p>
                                            </div>
                                            <div class="note-category">
                                                <p>{{ viewNote.category_name }}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 note-body">
                                        <p>
                                            {{ viewNote.content }}
                                        </p>
                                    </div>
                                    <div class='form-group text-center'>
                                        <button type='submit' class='btn-material' ng-click="editClicked(viewNote)">
                                            Edit
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


</div>
{% endverbatim %}
<script>
    window.STATIC_URL = "{{ STATIC_URL }}";
</script>
<!--========================================================================
    JavaScript Files
=========================================================================-->
<script src='{{ STATIC_URL }}js/jquery.min.js'></script>
<script src='{{ STATIC_URL }}js/moment.js'></script>
<script src='{{ STATIC_URL }}js/jquery.shuffle.min.js'></script>
<script src='{{ STATIC_URL }}js/angular.js'></script>
<script src='{{ STATIC_URL }}js/angular-resource.min.js'></script>
<script src='{{ STATIC_URL }}js/angular-route.min.js'></script>
<script src='{{ STATIC_URL }}js/angular-animate.js'></script>
<script src='{{ STATIC_URL }}js/angular-aria.js'></script>
<script src='{{ STATIC_URL }}js/angular-messages.min.js'></script>
<script src='{{ STATIC_URL }}js/angular-material.min.js'></script>
<script src='{{ STATIC_URL }}js/app.js'></script>
<script src='{{ STATIC_URL }}js/EventController.js'></script>

<script src='{{ STATIC_URL }}js/owl.carousel.min.js'></script>
<script src='{{ STATIC_URL }}js/jquery.magnific-popup.min.js'></script>
<script src='{{ STATIC_URL }}js/validator.min.js'></script>
<script src='{{ STATIC_URL }}js/script.js'></script>
<script src='{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js'></script>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'MM/DD/YYYY'
        });

        $('#datetimepicker4').on("dp.change", function () {
            $('#datetimepicker4').change();
        });
    });

    $(function () {
        $('#datetimepicker5').datetimepicker({
            format: 'MM/DD/YYYY'
        });


        $('#datetimepicker5').on("dp.change", function () {
            $('#datetimepicker5').change();
        });
    });
    $(function () {
        $('#datetimepicker6').datetimepicker({
            format: 'MM/DD/YYYY'
        });


        $('#datetimepicker6').on("dp.change", function () {
            $('#datetimepicker6').change();
        });
    });
</script>


</body>

</html>